.content-container {
  position: relative;
  top: 0;
  right: 0;
  width: inherit;
  height: inherit;
}

.content-header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  position: sticky;
  top: 0px;
  height: 70px;
  background-color: navy;
  padding: 16px;
  color: #fff;
}

.content-main {
  position: relative;
  box-sizing: border-box;
  background-color: mediumblue;
  height: calc(100% - 70px);
  width: 100%;
  color: #fff;
}
