.section-container {
  display: flex;
  height: 100%;
  overflow-y: auto;
}

.section-sidebar {
  overflow-y: auto;
  padding: 16px;
  box-sizing: border-box;
  width: 500px;
  background-color: darkorange;
}

.section-content {
  padding: 16px;
  overflow-y: auto;
  box-sizing: border-box;
  width: 100%;
  background-color: orange;
}
